// Specific CSS for your home-page


.heading {
  text-align: center;
  font-family: 'Pacifico', cursive;
}

.navbar {
  background-color: rgb(255, 255, 255);
}

.flickswipe {
  justify-content: center;
  display: flex;
  height: 150px;
}

.login {
  border-top: solid 1px;
  padding: 1px;
}

.container {
  width: 100%;
  min-height: 100vh;
  position:relative;
}

.home-image {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.slogan {
  text-align: center
}

.home-title {
  padding-top: 16px;
  text-align: center;
  border-top: solid 1px black;
}

.input {
  flex-shrink: 0;
  margin-right: 5px;
  background: linear-gradient(to bottom right, #C90A6D, #FF48A0);
  color: white;
  border: solid 1px #ffffff;
  padding: 6px;
  border-radius: 6px;
}

.user_first_name, .user_last_name, .user_email, .user_password, .user_password_confirmation, .user_photo {
  width: 100%;
}

.input-email {
  margin-right: 5px;
  background: linear-gradient(to bottom right, #C90A6D, #FF48A0);
  color: white;
  border: solid 1px #ffffff;
  padding: 6px;
  border-radius: 6px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}

.input-password-confirm {
  margin-right: 5px;
  background: linear-gradient(to bottom right, #C90A6D, #FF48A0);
  color: white;
  border: solid 1px #ffffff;
  padding: 6px;
  border-radius: 6px;
  padding-right: 14px;
}

.input-password {
  margin-right: 5px;
  background: linear-gradient(to bottom right, #C90A6D, #FF48A0);
  color: white;
  border: solid 1px #ffffff;
  padding: 6px;
  border-radius: 6px;
  padding-right: 14px;
  position: relative;
  top: -11px;
}

.input-photo {
  margin-right: 5px;
  background: linear-gradient(to bottom right, #C90A6D, #FF48A0);
  color: white;
  border: solid 1px #ffffff;
  padding: 6px;
  border-radius: 6px;
  padding-right: 24px;
  padding-left: 24px;
}

.login-email {
  margin-right: 5px;
  background: linear-gradient(to bottom right, #C90A6D, #FF48A0);
  color: white;
  border: solid 1px #ffffff;
  padding: 6px;
  border-radius: 6px;
  padding-right: 22px;
  padding-left: 22px;
}

.login-password {
  margin-right: 5px;
  background: linear-gradient(to bottom right, #C90A6D, #FF48A0);
  color: white;
  border: solid 1px #ffffff;
  padding: 6px;
  border-radius: 6px;
}

.btn-block {
  width: 100%;
  padding: 6px;
  background: linear-gradient(to bottom right, #C90A6D, #FF48A0);
  color: white !important;
  border: solid 1px #ffffff !important;
}

.btn-block:hover {
  width: 100%;
  padding: 6px;
  background: linear-gradient(to bottom right, #9b145a, #810d45);
  color: white !important;
  border: solid 1px #ffffff !important;
  transition: 0.5s ease;
}
