.footer {
  bottom:0;
  width:100%;
  height:40px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #C90A6D, #FF48A0);
  position: fixed;
  display: block;
}

.footer-links {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.fab {
  padding: 5px;
  color: white;
}
