#slides {
  position: relative;
  height: 100%;
  padding: 0px;
  margin: 0 auto;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;

  box-sizing: border-box;
  color: #fff;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.active-slide {
  opacity: 1;
  z-index: 2;
}

#slide-controls {
  margin: 20px 0 400px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  z-index: 10;
  color: #ffffffba;
  font-size: 24px;
  top: 50%;
}
.image-carousel {
  width: 100%;
  height: 642px;
  margin: 0 auto;
  background-size:  contain;
  background-repeat: no-repeat;
  position: relative;
}
#decline {
  margin-left: 16px;
}
#approve {
  margin-right: 16px;
}
